<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="dummy.css" />
  </head>
  <body>
    
    <div id="navigation_bar">
        <ul>
            <li>
                <img src="C:\Users\Revathi\Downloads\Screenshot__257_-removebg-preview.png"
                alt="logo" width="200px"
      ></img>
            </li>
        <li>
        <a href="#">Home</a></li>
       <li><a href="#">Categories</a></li>
        <li><a href="#">Brand</a></li>
        <li><a href="#">Attributes</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Sales</a></li>
        <li><a href="#">Inventory</a></li>
        <li><a href="#">Purchases</a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Charts</a></li>

      
        </ul>
    </div>
    <h1 style="color: #ad44b4;margin-left: 250px;">Attributes</h1>
    <div id="inputget">
    <form action="/" method="POST" style="margin-left: 230px;">
        <label id="name">Name</label><br><br>
        <input type="text" name="content" id="content" />
        <button class="button" style="vertical-align:middle"><span>Add</span></button><br><br>
        <label id="name">Categories</label><br><br>
        <input type="text" name="content" id="content" />
        <button class="button" style="vertical-align:middle"><span>Add</span></button> <br><br>
       <table id="dropdown">
        <tr>
          <th>Brand</th>
          <th>Categories</th>
          <th>Date</th>
          <th>Quantity</th>
        </tr>
        <tr>
          <td> 
            <select name="att_name" id="att_name" onchange="updateValues()">
              <option value="{{ row }}">Select a value</option>
              <option value="{{ row }}">Select a value1</option>
              <option value="{{ row }}">Select a value2</option>
            </select>
          </td>
          <td>
            <select name="att_name" id="att_name" onchange="updateValues()">
              <div id="option">
              <option value="{{ row }}">Select a value</option>
              <option value="{{ row }}">Select a value1</option>
              <option value="{{ row }}">Select a value2</option>
              </div>
            </select>
          </td>
          <td>
            <input id="date" type="date">
          </td>
          <td>
            <input type="number" id="count" min="1">
          </td>
        </tr>
       </table>
      </form>
      </div>
  <h2 style="color:#ad44b4 ;margin-left: 230px;">List</h2>
      <table id="customers">
         <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
        <th colspan="2" style="text-align: center;">Action</th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>

        <td><ion-icon name="create-outline" style="size:15px;"></ion-icon></td>
        <td><ion-icon name="trash-outline"></ion-icon></td>
      
      </tr>
      <tr>
        <td>Berglunds snabbköp</td>
        <td>Christina Berglund</td>
        <td>Sweden</td>
        <td><ion-icon name="trash-outline"></ion-icon></td>
        <td><ion-icon name="create-outline" style="size:15px;"></ion-icon></td>

      </tr>
      <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
        <td><ion-icon name="trash-outline"></ion-icon></td>
        <td><ion-icon name="create-outline" style="size:15px;"></ion-icon></td>

      </tr>
      <tr>
        <td>Ernst Handel</td>
        <td>Roland Mendel</td>
        <td>Austria</td>
        <td><ion-icon name="trash-outline"></ion-icon></td>
        <td><ion-icon name="create-outline" style="size:15px;"></ion-icon></td>

      </tr>
      <tr>
        <td>Island Trading</td>
        <td>Helen Bennett</td>
        <td>UK</td>
        <td><ion-icon name="trash-outline"></ion-icon></td>
        <td><ion-icon name="create-outline" style="size:15px;"></ion-icon></td>

      </tr>
      <tr>
        <td>Königlich Essen</td>
        <td>Philip Cramer</td>
        <td>Germany</td>
        <td><ion-icon name="trash-outline"></ion-icon></td>
        <td><ion-icon name="create-outline" style="size:15px;"></ion-icon></td>

      </tr>
      <tr>
        <td>Laughing Bacchus Winecellars</td>
        <td>Yoshi Tannamuri</td>
        <td>Canada</td>
        <td><ion-icon name="trash-outline"></ion-icon></td>
        <td><ion-icon name="create-outline" style="size:10px;"></ion-icon></td>

    </tr>
      <tr>
        <td>Magazzini Alimentari Riuniti</td>
        <td>Giovanni Rovelli</td>
        <td>Italy</td>
        <td><ion-icon name="trash-outline"></ion-icon></td>
        <td><ion-icon name="create-outline" style="size:15px;"></ion-icon></td>

    </tr>
      <tr>
        <td>Magazzini Alimentari Riuniti</td>
        <td>Giovanni Rovelli</td>
        <td>Italy</td>
        <td><ion-icon name="trash-outline"></ion-icon></td>
        <td><ion-icon name="create-outline" style="size:15px;"></ion-icon></td>
    </tr>
    
      </tr>
    </table>
    </div>
  
      <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
  </body>
</html>
