<!DOCTYPE html>
<html>
  <link
  rel="stylesheet"
  href="{{ url_for('static',filename='landing1.css')}}"
/>

  <title>Trackmate 360</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.png')}}">
  <body>
    <div
      class="body-wrapper snipcss-COzMO"
      data-spy="scroll"
      data-target=".privacy-nav"
      data-aos-easing="ease"
      data-aos-duration="400"
      data-aos-delay="0"
    >
      <nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
        <div class="container">
          <a class="navbar-brand" href="">
            <img
              src="{{ url_for('static',filename='logo.png')}}"
              alt="logo" width="200px"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="ti-menu"> </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
             
              <li class="nav-item @@contact">
                <a class="nav-link" style="color: white">
                  About us
                </a>
              </li>
              <li class="nav-item @@contact">
                <a class="nav-link" href="#home" style="color: white">
                  Home
                </a>
              </li>
              <li class="nav-item @@contact">
                <a class="nav-link" href="#brands" style="color: white">
                  Brand & category
                </a>
              </li>
              <li class="nav-item @@contact">
                <a
                  class="nav-link"
                  href="#attributes"
                  style="color: white"
                >
                  Attributes
                </a>
              </li>
              <li class="nav-item @@contact">
                <a class="nav-link" href="#products" style="color: white">
                  Products
                </a>
              </li>
              <li class="nav-item @@contact">
                <a class="nav-link" href="#sales" style="color: white">
                  Sales
                </a>
              </li>
              
                <li class="nav-item @@about">
                  <a class="nav-link" href="/info" style="color: white">Login </a>
                </li>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <section class="section gradient-banner">
        <div class="shapes-container">
          <div
            class="shape aos-init aos-animate"
            data-aos="fade-down-left"
            data-aos-duration="1500"
            data-aos-delay="100"
          ></div>
          <div
            class="shape aos-init aos-animate style-9Soi2"
            data-aos="fade-down"
            data-aos-duration="1000"
            data-aos-delay="100"
            id="style-9Soi2"
          ></div>
          <div
            class="shape aos-init aos-animate"
            data-aos="fade-up-right"
            data-aos-duration="1000"
            data-aos-delay="200"
          ></div>
          <div
            class="shape aos-init aos-animate"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="200"
          ></div>
          <div
            class="shape aos-init aos-animate"
            data-aos="fade-down-left"
            data-aos-duration="1000"
            data-aos-delay="100"
          ></div>
          <div
            class="shape aos-init aos-animate"
            data-aos="fade-down-left"
            data-aos-duration="1000"
            data-aos-delay="100"
          ></div>
          <div
            class="shape aos-init aos-animate"
            data-aos="zoom-in"
            data-aos-duration="1000"
            data-aos-delay="300"
          ></div>
          <div
            class="shape aos-init aos-animate"
            data-aos="fade-down-right"
            data-aos-duration="500"
            data-aos-delay="200"
          ></div>
          <div
            class="shape aos-init aos-animate"
            data-aos="fade-down-right"
            data-aos-duration="500"
            data-aos-delay="100"
          ></div>
          <div
            class="shape aos-init aos-animate"
            data-aos="zoom-out"
            data-aos-duration="2000"
            data-aos-delay="500"
          ></div>
          <div
            class="shape aos-init aos-animate"
            data-aos="fade-up-right"
            data-aos-duration="500"
            data-aos-delay="200"
          ></div>
          <div
            class="shape aos-init aos-animate"
            data-aos="fade-down-left"
            data-aos-duration="500"
            data-aos-delay="100"
          ></div>
          <div
            class="shape aos-init aos-animate"
            data-aos="fade-up"
            data-aos-duration="500"
            data-aos-delay="0"
          ></div>
          <div
            class="shape aos-init aos-animate"
            data-aos="fade-down"
            data-aos-duration="500"
            data-aos-delay="0"
          ></div>
          <div
            class="shape aos-init aos-animate"
            data-aos="fade-up-right"
            data-aos-duration="500"
            data-aos-delay="100"
          ></div>
          <div
            class="shape aos-init aos-animate"
            data-aos="fade-down-left"
            data-aos-duration="500"
            data-aos-delay="0"
          ></div>
        </div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 order-2 order-md-1 text-center text-md-left">
              <h1 class="text-white font-weight-bold mb-4">
                Be in the track with invento
              </h1>
              <p class="text-white mb-5">
                Worrying to manage your busy world. You got on the right track
                with the right mate!
              </p>
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
              <img
                class="img-fluid"
                src="https://themewagon.github.io/small-apps/images/mobile.png"
                alt="screenshot"
              />
            </div>
          </div>
        </div>
      </section>
      <div id="aboutus">
      <section class="section pt-0 position-relative pull-top">
        <div class="container">
          <div class="rounded shadow p-5 bg-white">
            <div class="row">
              <div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
                <i class="ti-paint-bucket text-primary h1" style="color: white">
                </i>
                <h3 class="mt-4 text-capitalize h5" style="color: white">
                  Elegance in Contrast
                </h3>
                <p class="regular text-muted" style="color: white">

                  Sophisticated dark violet, lively pink, and elegant black blend for a modern, dynamic aesthetic, offering a mix of mystery, vibrancy, and boldness.
                </p>
              </div>
              <div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
                <i class="ti-paint-bucket text-primary h1" style="color: white">
                </i>
                <h3 class="mt-4 text-capitalize h5" style="color: white">
                  Seamless navigation
                </h3>
                <p class="regular text-muted" style="color: white">
                  Streamlined navigation on my website provides a user-friendly experience, featuring intuitive design and easy-to-use menus for effortless exploration.
                </p>
              </div>
              <div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
                <i class="ti-shine text-primary h1"> </i>
                <h3 class="mt-4 text-capitalize h5" style="color: white">
                  Beginner-friendly platform
                </h3>
                <p class="regular text-muted">
                  Intuitive interface and clear instructions for easy use at any skill level.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <br />
      </div>
      <div id="home">
        <br />
        <br />
        <br />
        <br />
        <br />

        <section>
          <div class="row snipcss-DT32P">
            <div class="col-lg-6 ml-auto justify-content-center">
              <div
                class="image-content aos-init aos-animate"
                data-aos="fade-right"
              >
                <img
                  class="img-fluid"
                  src="{{ url_for('static',filename='log.png')}}"
                  alt="iphone"
                  style="width: 550px; height: 400px; margin-left: 40px"
                />
              </div>
            </div>
            <div class="col-lg-6 mr-auto align-self-center">
              <div class="feature-content">
                <h2>
                  Innovative Proposals

                </h2>
                <p class="desc">
                  Users can seamlessly submit their ideas through email. Upon acceptance, the system 
                  automatically generates and sends login credentials via email, allowing users to access the 
                  inventory management website. 
                  
                </p>
              </div>
            </div>
          </div>
        </section>
        <br />
        <br />
        <div id="brands">
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <section>
            <div class="row snipcss-JmSlJ">
              <div class="col-lg-6 ml-auto align-self-center">
                <div class="feature-content">
                  <h2 style="margin-left: 40px">
                    Organize with Ease Using Categories and Brands for Enhanced Clarity 
                  </h2>
                  <p style="margin-left: 40px">
                    The platform enables users to organize products efficiently by adding and managing 
                    categories and brands. This categorization enhances the clarity and organizaƟon of the 
                    inventory. 
                  </p>
                </div>
                <div class="testimonial">
                  <ul class="list-inline meta">
                    <li class="list-inline-item"></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 mr-auto justify-content-center">
                <div
                  class="image-content aos-init aos-animate"
                  data-aos="fade-left"
                >
                  <img
                    class="img-fluid"
                    src="{{ url_for('static',filename='attri.png')}}"
                    alt="ipad"
                     style="width: 500px; height: 350px; margin-left: 40px;"
                  />
                </div>
              </div>
            </div>
          </section>
          <div id="attributes">
            <br />
            <br />
            <br />
            <br />
            <br />

            <section>
              <div class="row snipcss-DT32P">
                <div class="col-lg-6 ml-auto justify-content-center">
                  <div
                    class="image-content aos-init aos-animate"
                    data-aos="fade-right"
                  >
                    <img
                      class="img-fluid"
                      alt="iphone"
                    src="{{ url_for('static',filename='products.png')}}"

                    style="width: 670px; height: 350px;margin-left: 50px;"
                    />
                  </div>
                </div>
                <div class="col-lg-6 mr-auto align-self-center">
                  <div class="feature-content">
                    <h2>
                      Customized Inventory Attributes 
                      </a>
                    </h2>
                    <p class="desc">
                      Users have the flexibility to define and customize attributes for inventory items. This 
                      feature allows for a tailored approach to managing various product details and specifications.
                    </p>
                  </div>
                </div>
              </div>
            </section>
            <br />
            <div id="products">
              <br />
              <br />
              <br />
              <br />
              <br />
              <br />
              <section>
                <div class="row snipcss-JmSlJ">
                  <div class="col-lg-6 ml-auto align-self-center">
                    <div class="feature-content">
                      <h2 style="margin-left: 40px">
                        Real-time Tracking of Products
                      </h2>
                      <p style="margin-left: 40px">
                        The system facilitates the addition and tracking of products within the inventory. 
                        Users can easily manage product details, quantities, and other relevant informtion in real time.
                        
                      </p>
                    </div>
                    <div class="testimonial">
                      <ul class="list-inline meta">
                        <li class="list-inline-item"></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-6 mr-auto justify-content-center">
                    <div
                      class="image-content aos-init aos-animate"
                      data-aos="fade-left"
                    >
                      <img
                        class="img-fluid"
                        src="{{ url_for('static',filename='charts.png')}}"
                        alt="ipad"
                        style="width: 500px; height: 400px; margin-left: 40px"
                      />
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <br />
          </div>
          <br />
          <br />
          <br />
          <div id="sales">
        <br />
        <br />
        <br />
        <br />
        <section>
          <div class="row snipcss-DT32P">
            <div class="col-lg-6 ml-auto justify-content-center">
              <div
                class="image-content aos-init aos-animate"
                data-aos="fade-right"
              >
                <img
                  class="img-fluid"
                  src="{{ url_for('static',filename='reports.png')}}"
                  alt="iphone"
                  style="width: 500px; height: 500px; margin-left: 40px"
                />
              </div>
            </div>
            <div class="col-lg-6 mr-auto align-self-center">
              <div class="feature-content">
                <h2>
                  Dynamic Adjustments for Accuracy in Stock Counts
                </h2>
                <p class="desc">
                  The inventory system is intricately linked with sales acƟviƟes. As sales transactions 
                  occur, the inventory dynamically adjusts to reflect the changes. This integration ensures 
                  accurate and up-to-date inventory counts. 
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
        </div>
      <br />
      <br />
      <br />
      <br />
      <br />
      <section class="service section bg-gray">
        <div class="container-fluid p-0">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-title">
                <h2>Make yourself perfectionist</h2>
                <p>
                    Trackmate360
                  </a>
                  Maintain your all records easily. No late
                  tasks. No gimmicks.
                </p>
              </div>
            </div>
          </div>
          <div class="row no-gutters" style="margin-right: 400px">
            <div class="col-lg-6 align-self-center">
              <div class="service-thumb left aos-init" data-aos="fade-right">
                <img
                  src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/02/dark-attachment_106570131-e1594984417719.jpeg?auto=format&q=60&fit=max&w=930"
                  alt="iphone-ipad"
                />
              </div>
            </div>

            <div class="col-lg-5 mr-auto align-self-center">
              <div class="service-box" style="width: 500px">
                <div class="row align-items-center">
                  <div class="col-md-6 col-xs-12">
                    <div class="service-item">
                      <i class="ti-bookmark"> </i>
                      <h3>Innovate</h3>
                      <p>
                        Revolutionize small business inventory control with our user-friendly platform, optimizing organization and empowering growth.
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <div class="service-item">
                      <i class="ti-pulse"> </i>
                      <h3>Idea brains</h3>
                      <p>
                        Innovative system seamlessly streamlines inventory and integrates idea submission for efficient management.
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <div class="service-item">
                      <i class="ti-bar-chart"> </i>
                      <h3>Analytical Empowerment</h3>
                      <p>
                        Gain insights, make informed decisions, and enhance system analytics
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <div class="service-item">
                      <i class="ti-panel"> </i>
                      <h3>Technology</h3>
                      <p>
                        Trackmate : A powerful tech stack for cutting-edge inventory and idea management
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="video-promo section bg-1">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="content-block">
                <h2>Watch Our Promo Video</h2>
                <p>
                  Embark on an informative journey through our website demo, where each feature and functionality is intricately explained, providing a comprehensive and detailed exploration of our platform.
                </p>
                <a href="https://www.youtube.com/watch?v=jrkvirglgaQ">
                  <i class="ti-control-play video"> </i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section testimonial" id="testimonial">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div
                class="testimonial-slider owl-carousel owl-theme slick-initialized slick-slider slick-dotted"
              >
                <div class="slick-list draggable">
                  <div class="slick-track style-t6Z6a" id="style-t6Z6a">
                    <div
                      class="item slick-slide slick-cloned style-phvpe"
                      data-slick-index="-2"
                      id="style-phvpe"
                      aria-hidden="true"
                      tabindex="-1"
                    >
                      <div class="block shadow">
                        <p>
                          The Trackmate – 360 invento oversight provides an efficient and user-friendly soluƟon for 
                          idea submission and inventory management. By integraƟng the submission process with inventory 
                          access, the system ensures a streamlined and secure user experience. Future enhancements aim to 
                          further enhance analyƟcal capabiliƟes and collaboraƟon within the plaƞorm.
                        </p>
                      </div>
                    </div>
                    <div
                      class="item slick-slide slick-cloned style-jXBCE"
                      data-slick-index="-1"
                      id="style-jXBCE"
                      aria-hidden="true"
                      tabindex="-1"
                    >
                      <div class="block shadow">
                        <p>
                          The TrackMate – 360 invento oversight is an innovaƟve plaƞorm that facilitates the 
                          submission of ideas through email. Users submit their ideas, and upon acceptance, gain access to our 
                          inventory management website. The system comprises eight interconnected pages, each designed to 
                          streamline the process of managing and tracking inventory. 
                          
                        </p>
                      </div>
                    </div>
                    <div
                      class="item slick-slide style-pyBiV"
                      data-slick-index="0"
                      aria-hidden="true"
                      tabindex="-1"
                      role="tabpanel"
                      id="slick-slide00"
                      aria-describedby="slick-slide-control00"
                    >
                      <div class="block shadow">
                        <p>
                          The TrackMate – 360 invento oversight is an innovaƟve plaƞorm that facilitates the 
                          submission of ideas through email. Users submit their ideas, and upon acceptance, gain access to our 
                          inventory management website. The system comprises eight interconnected pages, each designed to 
                          streamline the process of managing and tracking inventory. 
                        </p>
                      </div>
                    </div>
                    <div
                      class="item slick-slide style-HzOAn"
                      data-slick-index="1"
                      aria-hidden="true"
                      tabindex="0"
                      role="tabpanel"
                      id="slick-slide01"
                      aria-describedby="slick-slide-control01"
                    >
                      <div class="block shadow">
                        <p>
                          The TrackMate – 360 invento oversight is an innovaƟve plaƞorm that facilitates the 
                          submission of ideas through email. Users submit their ideas, and upon acceptance, gain access to our 
                          inventory management website. The system comprises eight interconnected pages, each designed to 
                          streamline the process of managing and tracking inventory. 
                        </p>
                      </div>
                    </div>
                    <div
                      class="item slick-slide slick-current slick-active style-mjjBI"
                      data-slick-index="2"
                      aria-hidden="false"
                      tabindex="0"
                      role="tabpanel"
                      id="slick-slide02"
                      aria-describedby="slick-slide-control02"
                    >
                      <div class="block shadow">
                        <p>
                          The TrackMate – 360 invento oversight is an innovative plaƞorm that facilitates the 
                          submission of ideas through email. Users submit their ideas, and upon acceptance, gain access to our 
                          inventory management website. The system comprises eight interconnected pages, each designed to 
                          streamline the process of managing and tracking inventory. 
                        </p>
                      </div>
                    </div>
                    <div
                      class="item slick-slide slick-active style-hb8py"
                      data-slick-index="3"
                      aria-hidden="false"
                      tabindex="-1"
                      role="tabpanel"
                      id="slick-slide03"
                      aria-describedby="slick-slide-control03"
                    >
                      <div class="block shadow">
                        <p>
                          The Trackmate – 360 invento oversight provides an efficient and user-friendly solution for 
                          idea submission and inventory management. By integraƟng the submission process with inventory 
                          access, the system ensures a streamlined and secure user experience. Future enhancements aim to 
                          further enhance analytical capabilities and collaboration within the plaƞorm.
                        </p>
                        <div class="image"></div>
                      </div>
                    </div>
                    <div
                      class="item slick-slide slick-cloned style-kDcT6"
                      data-slick-index="4"
                      id="style-kDcT6"
                      aria-hidden="true"
                      tabindex="-1"
                    >
                      <div class="block shadow">
                        <p>
                          Mauris blandit aliquet elit, eget tincidunt nibh
                          pulvinar a. Donec sollicitudin molestie malesuada.
                          Donec sollicitudin molestie malesuada. Pellentesque in
                          ipsum id orci porta dapibus. Lorem ipsum dolor sit
                          amet, consectetur adipiscing elit. Pellentesque in
                          ipsum id orci porta dapibus. Quisque velit nisi,
                          pretium ut lacinia in, elementum id enim.
                        </p>
                        <div class="image">
                          <img
                            src="https://themewagon.github.io/small-apps/images/testimonial/feature-testimonial-thumb.jpg"
                            alt="image"
                          />
                        </div>
                        <cite> Abraham Linkon , Themefisher.com </cite>
                      </div>
                    </div>
                    <div
                      class="item slick-slide slick-cloned style-2XPDp"
                      data-slick-index="5"
                      id="style-2XPDp"
                      aria-hidden="true"
                      tabindex="-1"
                    >
                      <div class="block shadow">
                        <p>
                          Mauris blandit aliquet elit, eget tincidunt nibh
                          pulvinar a. Donec sollicitudin molestie malesuada.
                          Donec sollicitudin molestie malesuada. Pellentesque in
                          ipsum id orci porta dapibus. Lorem ipsum dolor sit
                          amet, consectetur adipiscing elit. Pellentesque in
                          ipsum id orci porta dapibus. Quisque velit nisi,
                          pretium ut lacinia in, elementum id enim.
                        </p>
                        <div class="image">
                          <img
                            src="https://themewagon.github.io/small-apps/images/testimonial/feature-testimonial-thumb.jpg"
                            alt="image"
                          />
                        </div>
                        <cite> Abraham Linkon , Themefisher.com </cite>
                      </div>
                    </div>
                    <div
                      class="item slick-slide slick-cloned style-SCkBY"
                      data-slick-index="6"
                      id="style-SCkBY"
                      aria-hidden="true"
                      tabindex="-1"
                    >
                      <div class="block shadow">
                        <p>
                          Mauris blandit aliquet elit, eget tincidunt nibh
                          pulvinar a. Donec sollicitudin molestie malesuada.
                          Donec sollicitudin molestie malesuada. Pellentesque in
                          ipsum id orci porta dapibus. Lorem ipsum dolor sit
                          amet, consectetur adipiscing elit. Pellentesque in
                          ipsum id orci porta dapibus. Quisque velit nisi,
                          pretium ut lacinia in, elementum id enim.
                        </p>
                        <div class="image">
                          <img
                            src="https://themewagon.github.io/small-apps/images/testimonial/feature-testimonial-thumb.jpg"
                            alt="image"
                          />
                        </div>
                        <cite> Abraham Linkon , Themefisher.com </cite>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="call-to-action-app section bg-blue">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h2>Optimize with Inveto</h2>
              <p>
                 Customize attributes, track in real-time, and manage effortlessly. Try it now
              </p>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a class="btn btn-rounded-icon">
                   Discover
                    
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="" class="btn btn-rounded-icon">
                    
                    Demo
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="" class="btn btn-rounded-icon">
                   
                    Start now
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <div class="footer-main">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-12 m-md-auto align-self-center">
                <div class="block">
                  <a href="index.html">
                    <img
                      src="C:\Users\Revathi\Downloads\Screenshot__257_-removebg-preview.png"
                      alt="footer-logo" width="250px"
                    />
                  </a>
                  <ul class="social-icon list-inline">
                    <li class="list-inline-item">
                      <a href="https://www.facebook.com/themefisher">
                        <i class="ti-facebook"> </i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://twitter.com/themefisher">
                        <i class="ti-twitter"> </i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://www.instagram.com/themefisher/">
                        <i class="ti-instagram"> </i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
                <div class="block-2">
                  <h6>Product</h6>
                  <ul>
                    <li>
                      <a href="team.html"> Teams </a>
                    </li>
                    <li>
                      <a href="blog.html"> Blogs </a>
                    </li>
                    <li>
                      <a href="FAQ.html"> FAQs </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
                <div class="block-2">
                  <h6>Resources</h6>
                  <ul>
                    <li>
                      <a href="sign-up.html"> Singup </a>
                    </li>
                    <li>
                      <a href="sign-in.html"> Login </a>
                    </li>
                    <li>
                      <a href="blog.html"> Blog </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
                <div class="block-2">
                  <h6>Information</h6>
                  <ul>
                    <li>
                      <a href="career.html"> Career </a>
                    </li>
                    <li>
                      <a href="contact.html"> Contact </a>
                    </li>
                    <li>
                      <a href="team.html"> Investor </a>
                    </li>
                    <li>
                      <a href="privacy.html"> Terms </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
                <div class="block-2">
                  <h6>Support</h6>
                  <ul>
                    <li>
                      <a href="about.html"> About </a>
                    </li>
                    <li>
                      <a href="contact.html"> Contact </a>
                    </li>
                    <li>
                      <a href="team.html"> Team </a>
                    </li>
                    <li>
                      <a href="privacy-policy.html"> Privacy Policy </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center bg-dark py-4">
          <small class="text-secondary">
            Copyright © 2023. Designed &amp; Developed by
            <a href="#"> Trackmate360 </a>
          </small>
        </div>
        <div class="text-center bg-dark py-1">
          <small>
            <p>
              Distributed By
              <a href="https://themewagon.com/">Trackmate360</a>
            </p>
        </small>
        </div>
      </footer>
      <div class="scroll-top-to style-cwCcw" id="style-cwCcw">
        <i class="ti-angle-up"> </i>
      </div>
    </div>
  </body>
</html>
